In [38]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [39]:
pwd

'C:\\Users\\lenovo\\Desktop\\Formation Data Analyst'

In [40]:
os.chdir("C:\\Users\\lenovo\\Desktop\\Formation Data Analyst")

In [41]:
# Lire les donnÃ©es du fichier CSV â€˜dataset-sell4all.csvâ€™ 

df=pd.read_csv("dataset-sell4all-maroc.csv")
df

,Name,Phone Number,Email,Address,Country,Postal code,Last date of connection,Last time of connection,Age,Gender,Customer spendings
0,Aaron Cote,966-7625,elit@hotmail.org,699-5837 Risus Street,Norway,4126,"Apr 5, 2021",4:39 AM,71,Man,356
1,Angelica Lawson,232-3051,diam.proin@google.org,481-8428 Magna. Street,Pakistan,518885,"Oct 10, 2021",12:36 AM,37,Women,173
2,Louis Gilbert,1-997-733-0134,lorem.fringilla@hotmail.org,Ap #192-2082 Enim. Ave,Colombia,575444,"Jul 2, 2022",3:37 AM,24,Women,105
3,Basia Finley,1-987-322-7148,tristique.aliquet@icloud.co,608-2732 Nec Rd.,South Africa,5973-5765,"Feb 19, 2022",2:34 AM,37,Women,28
4,Rhona Sears,387-7682,iaculis.odio.nam@protonmail.org,8763 In Rd.,France,37476,"Mar 31, 2022",6:28 AM,42,Women,13
...,...,...,...,...,...,...,...,...,...,...,...
500,Abraham Walker,835-6185,nunc.sed.orci@outlook.net,"Ap #258-8540 A, St.",South Africa,3181-4474,"Jan 31, 2023",1:46 PM,28,Women,182
501,Drake Carney,891-0713,dignissim.pharetra@icloud.org,304-4217 Ac Street,France,54615,"Jun 11, 2022",10:06 AM,46,Women,25
502,Hadley Sykes,1-865-267-6254,luctus@icloud.com,"P.O. Box 851, 819 Pede. Av.",Peru,16373,"Jun 13, 2022",6:49 PM,43,Women,42
503,Dean Hensley,1-776-366-7784,dui@aol.com,"P.O. Box 896, 2956 Risus. Ave",China,746013,"Aug 27, 2021",6:02 AM,20,Women,511
504,Margaret Leblanc,522-8552,nec.enim@yahoo.org,437-1106 Nec Street,United States,74253,"Feb 2, 2023",4:56 AM,72,Women,518

In [42]:
# Afficher des informations sur les 5 premiÃ¨res lignes du fichier CSV,
df.head(5)

,Name,Phone Number,Email,Address,Country,Postal code,Last date of connection,Last time of connection,Age,Gender,Customer spendings
0,Aaron Cote,966-7625,elit@hotmail.org,699-5837 Risus Street,Norway,4126,"Apr 5, 2021",4:39 AM,71,Man,356
1,Angelica Lawson,232-3051,diam.proin@google.org,481-8428 Magna. Street,Pakistan,518885,"Oct 10, 2021",12:36 AM,37,Women,173
2,Louis Gilbert,1-997-733-0134,lorem.fringilla@hotmail.org,Ap #192-2082 Enim. Ave,Colombia,575444,"Jul 2, 2022",3:37 AM,24,Women,105
3,Basia Finley,1-987-322-7148,tristique.aliquet@icloud.co,608-2732 Nec Rd.,South Africa,5973-5765,"Feb 19, 2022",2:34 AM,37,Women,28
4,Rhona Sears,387-7682,iaculis.odio.nam@protonmail.org,8763 In Rd.,France,37476,"Mar 31, 2022",6:28 AM,42,Women,13

In [43]:
# nombre de lignes et nombre de colones
df.shape

(505, 11)

In [44]:
#
df.columns

Index(['Name', 'Phone Number', 'Email', 'Address', 'Country', 'Postal code',
       'Last date of connection', 'Last time of connection', 'Age', 'Gender',
       'Customer spendings'],
      dtype='object')

In [45]:
# les types de donnÃ©es des champs du fichier CSV
df.dtypes

Name                       object
Phone Number               object
Email                      object
Address                    object
Country                    object
Postal code                object
Last date of connection    object
Last time of connection    object
Age                         int64
Gender                     object
Customer spendings          int64
dtype: object

In [46]:
# la mediane de Customer spendings
df["Customer spendings"].median()

307.0

In [47]:
# la mediane de l'age
df["Age"].median()

46.0

In [48]:
# la moyenne de Customer spendings
df["Customer spendings"].mean()

311.16831683168317

In [49]:
# la moyenne de l'age
df["Age"].mean()

46.08316831683168

In [50]:
#
df.groupby("Country")["Age"].median()

Country
Australia             44.0
Austria               43.0
Belgium               39.0
Brazil                49.5
Canada                46.0
Chile                 46.0
China                 35.0
Colombia              29.0
Costa Rica            48.0
France                56.5
Germany               53.0
India                 45.5
Indonesia             41.5
Ireland               49.0
Italy                 41.0
Mexico                47.0
Netherlands           48.0
New Zealand           38.0
Nigeria               37.0
Norway                54.0
Pakistan              44.0
Peru                  38.0
Philippines           51.0
Poland                49.5
Russian Federation    48.0
Singapore             41.5
South Africa          43.0
South Korea           49.5
Spain                 54.5
Sweden                40.0
Turkey                60.0
Ukraine               46.0
United Kingdom        48.5
United States         48.5
Vietnam               48.0
Name: Age, dtype: float64

In [51]:
#
def age1(age):
    if age < 18:
        return "mineur"
    elif age < 38:
        return "jeune"
    elif age < 58:
        return "adulte"
    else:
        return "vieux"
    
df["Age"] = df["Age"].map(age1)
df

,Name,Phone Number,Email,Address,Country,Postal code,Last date of connection,Last time of connection,Age,Gender,Customer spendings
0,Aaron Cote,966-7625,elit@hotmail.org,699-5837 Risus Street,Norway,4126,"Apr 5, 2021",4:39 AM,vieux,Man,356
1,Angelica Lawson,232-3051,diam.proin@google.org,481-8428 Magna. Street,Pakistan,518885,"Oct 10, 2021",12:36 AM,jeune,Women,173
2,Louis Gilbert,1-997-733-0134,lorem.fringilla@hotmail.org,Ap #192-2082 Enim. Ave,Colombia,575444,"Jul 2, 2022",3:37 AM,jeune,Women,105
3,Basia Finley,1-987-322-7148,tristique.aliquet@icloud.co,608-2732 Nec Rd.,South Africa,5973-5765,"Feb 19, 2022",2:34 AM,jeune,Women,28
4,Rhona Sears,387-7682,iaculis.odio.nam@protonmail.org,8763 In Rd.,France,37476,"Mar 31, 2022",6:28 AM,adulte,Women,13
...,...,...,...,...,...,...,...,...,...,...,...
500,Abraham Walker,835-6185,nunc.sed.orci@outlook.net,"Ap #258-8540 A, St.",South Africa,3181-4474,"Jan 31, 2023",1:46 PM,jeune,Women,182
501,Drake Carney,891-0713,dignissim.pharetra@icloud.org,304-4217 Ac Street,France,54615,"Jun 11, 2022",10:06 AM,adulte,Women,25
502,Hadley Sykes,1-865-267-6254,luctus@icloud.com,"P.O. Box 851, 819 Pede. Av.",Peru,16373,"Jun 13, 2022",6:49 PM,adulte,Women,42
503,Dean Hensley,1-776-366-7784,dui@aol.com,"P.O. Box 896, 2956 Risus. Ave",China,746013,"Aug 27, 2021",6:02 AM,jeune,Women,511
504,Margaret Leblanc,522-8552,nec.enim@yahoo.org,437-1106 Nec Street,United States,74253,"Feb 2, 2023",4:56 AM,vieux,Women,518

In [55]:
df1 = df.groupby("Country")["Customer spendings"].sum()
print(df1)

Country
Australia             3492
Austria               4584
Belgium               2806
Brazil                4113
Canada                3026
Chile                 4351
China                 5959
Colombia              3881
Costa Rica            3743
France                4598
Germany               4989
India                 4543
Indonesia             5236
Ireland               5284
Italy                 2742
Mexico                8436
Netherlands           7243
New Zealand           6396
Nigeria               4247
Norway                3387
Pakistan              3913
Peru                  5108
Philippines           5001
Poland                3566
Russian Federation    4516
Singapore             2069
South Africa          5369
South Korea           4216
Spain                 4165
Sweden                3420
Turkey                4091
Ukraine               5488
United Kingdom        1561
United States         7166
Vietnam               4435
Name: Customer spendings, dtype: int64